*{
    margin: 0 auto;
    padding: 0;
}
body{
    background: linear-gradient(55deg, #000, #3bd0ed);
}
#wrapper{
    width: 960px;
    margin: 0 auto;
    border: 2px;
    background-color: white;
    
}
#nav, #footer{
    text-align: center
}
#nav ul, #footer ul{
    list-style-type: none;
    margin: 10px;
}
#nav ul li, #footer ul li{
    display: inline;
    padding: 0;
}
#nav a, #footer li a{
    text-decoration: none;
    font-size: 14px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    color: #000
}
#nav{
    padding: 3px;
    background: linear-gradient(135deg, #2facbc, #8cc6d4, #2facbc)
}
#footer{
    padding: 3px;
    background: linear-gradient(45deg, #06171c, #136083, #006c86)
}
#footer a{
    border: 6px solid transparent;
}
#nav a{
    border: 6px solid #74d7fc;
    background-color: #74d7fc;   
}
#nav a:hover, #footer li a:hover{
    border: 6px solid #0095b9;
    background-color: #0095b9;
}
#nav a:link, #footer a:link{
    color: black;
} 
#nav a:visited, #footer a:visited{
    color: black
}
#header{
    text-align: center;
}
#header table{
    text-align: left;
}
#content ul li p{
    font-size: 24px;
    margin-left: 10px;
}
.copy{
    text-align: right;
}